*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 56px;
    background: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.486);
    z-index: 3;
}

.menuKnopka {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    align-self: center;
    
}


.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
     /* background: black;  */
}


 .sidebar{
    width: 240px;
    height: 1000px;
    /* background: rgb(218, 255, 162); */
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 56px;
    left: 0;
}

.sidebar-top{
    width: 100%;
    height: 144px;
    background: #f1f1f1;
    padding: 12px 0;
    border-bottom: 1px solid rgb(168, 164, 164);
}

.sidebar-home{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    display: flex;
}

.text{
    font-size: 14px;
}

.text2{
    margin-top: 10px;
}

.ikonki{
    font-size: 20px;
    line-height: 40px;
    padding: 0 24px;
    color: #909090;
}

.ikonki:hover{
    color: red;
}

.fa-fire{
    margin-left: 3px;
}

.sidebar-home:hover, .sidebar-library-block:hover, .best-block:hover,  .more-live:hover {
    background: rgb(201, 201, 201);
    color: red;
}

.sidebar-home:hover .ikonki{
    color: red;
}

a{
    text-decoration: none;
    color: black;
}


.sidebar-library{
    width: 100%;
    height: 98px;
    background: #f1f1f1;
    padding: 10px 0;
    border-bottom: 1px solid rgb(175, 169, 169);
}

.sidebar-library-block{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    display: flex;
}

.sidebar-singin{
    width: 100%;
    height: 144px;
    background: #f1f1f1;
    padding: 10px 0;
    border-bottom: 1px solid rgb(173, 168, 168);
}

.sing-text{
    width: 172px;
    margin: 0 30px;
    font-size: 16px;
}

.singin-block-zaebalo{
    width: 106px;
    height: 36px;
    margin-left: 30px;
    margin-top: 22px;
    border: 1px solid blue;
    text-align: center;
    line-height: 36px;
    font-family:Arial, Helvetica, sans-serif;
    color:#0040ff;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
}



.best{
    width: 100%;
    background: #f1f1f1;
    padding: 12px 0;
    border-bottom: 1px solid black;
}

.best-block{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    display: flex;
}

.best-p{
    margin-left: 24px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: bolder;
    color: #606060;
}

.browse{
    width: 100%;
    background: #f1f1f1;
    padding: 12px 0;
    border-bottom: 1px solid black;
}

.lit{
    font-size: 14px;
    color: #cccccc;
}

.more-live{
    width: 100%;
    background: #f1f1f1;
    padding: 12px 0;
    border-bottom: 1px solid black;
}


.side-bot{
    width: 100%;
    background: #f1f1f1;
    padding: 12px 0;
    border-bottom: 1px solid black;
}

/* ============================= */

.mid{
    width: calc(100% - 440px);
    height: 1200px;
    margin-left: 340px;
     /* background: wheat;  */
    margin-top:56px;


    

}



 

.left{
    display:flex;
    height:56px;
    width:320px;
    padding:6px;
    padding-top:10px;
    
     
    
}

.fa-align-justify {
    display:flex;
    padding-top:10px;
    margin-left:25px;
    

}

.ytblogo img{
    width:100px;
    height:40px;
    cursor:pointer;  
    position:absolute;  
    margin-left:12px;        
}
.ytblogo {
    width:110px;
    height:50px;

}
.ge {
    position:relative;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
}


.center {
    display:flex;
    width:630px;


}

.search-box {
    display:flex;
    width:622px;
    height:35px;
    margin-top:10px;
    padding-left:10px;
    font-size:20px;
    margin-left:5px;
   
   
}

.search-icon {
    margin-left:0;
    display:flex;
    height:35px;
    margin-top:10px;
    width:50px;
    position:relative;
}

.fa-search {
    display:flex;
    position:absolute;
    margin-left:590px;
    margin-top:20px;
    color:grey;
    cursor:pointer;
}

.right-header {
    display:flex;
    width:420px;
    height:56px;


}
.icons {
  margin-top:20px;
  margin-left:100px;


}

.fa-video {
    padding-left:25px;
    color:grey;
    cursor:pointer;
}

.fa-th {
    padding-left:25px;
    color:grey;
    cursor:pointer;
}

.fa-comment {
    padding-left:25px;
    color:grey;
    cursor:pointer;
}

.fa-ellipsis-v {
    padding-left:30px;
    color:grey;
    cursor:pointer;
}
.signin {
    text-decoration:none;
    color:#0040ff;
    margin-left:40px;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;

}

.articles {
    margin-top:20px;
    height:180px;
    width:205px;
    margin-left:10px;
    position:relative;
}
.rcmnd {
    margin-top:20px;
    margin-left:55px;
}
.recommended {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.05rem;
    color:rgb(63, 61, 61);
}

.paragraphebi {
    cursor:pointer;
}

.together {
    width:100%;
    height:230px;
    display:flex;
    flex-direction:row;
    margin-left:45px;

}
.prg {
    color:rgb(122, 112, 112);

}

.surati {
    height:100px;
    width:100%;
    /* background:yellow; */
}


#video-div-id{
    width:170px;
    height:100px;
    background:rgb(252, 253, 255);
    color:black;
    display:none;
}
.divofvid {
    width:170px;
    height:45px;
    display:flex;
    padding-top:20px;
    padding-left:10px;
    justify-content:space-around;
    cursor:pointer;
}
.viddiv {
    display:flex;
    padding-top:10px;
    padding-left:23px;
    cursor:pointer;
}
.golive {
    padding-left:27px;
}
#secondicon{
width:170px;
height:100px;
background:rgb(26, 25, 25);
color:black;
display:none;
}

.meoreicon {
    width:170px;
    height:45px;
    display:flex;
    cursor:pointer;
}

#thirdicon{
    width:170px;
    height:100px;
    background:rgb(26, 25, 25);
    color:black;
    display:none;
    }

.firstimg {
    height:100px;
    width:100%;
    cursor:pointer;
}


.minutes {
    position:absolute;
    /* background:red; */
    margin-left:167px;
    margin-top:80px;
    color:#FFFFFF;
    font-size: 0.9rem;
    font-family: Roboto, Arial, sans-serif;
    background:rgba(0, 0, 0, 0.80);

}

.fa-youtube {
    color:red;
}


.firstimg {
    position:absolute;
    background: white;
  }
  
  .firstimg:hover {
    opacity:0;
  }

  .gifff{
      width:100%;
      height:100px;
  }


  .hhh{
    font-family: Roboto, Arial, sans-serif;
    font-size:14px;
    padding-top:10px;
  }